body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f8f9fa;
    color: #333;
}

header {
    background-color: #333;
    padding: 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    position: sticky;
    top: 0;
    z-index: 1000;
}

header .logo img {
    width: 150px;
}

nav ul {
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
    gap: 20px;
}

nav ul li {
    display: inline;
}

nav ul li a {
    color: #fff;
    text-decoration: none;
    font-size: 1em;
    transition: color 0.3s ease;
}

nav ul li a:hover {
    text-decoration: none;
    color: #97673a;
}

a.active{
    color: #b46dc2;

}

main {
    text-align: center;
    padding: 50px 20px;
}

.promo-banner {
    background-color: #fff;
    padding: 50px 20px;
    margin-bottom: 40px;
    border: 1px solid #ddd;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    animation: fadeIn 1s ease-in-out;
}

@keyframes fadeIn {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

.promo-banner h1 {
    margin: 0;
    font-size: 2.5em;
    color: #555;
}

.content-columns {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}

.column {
    flex: 1;
    max-width: 300px;
    margin: 20px;
    padding: 20px;
    background-color: #fff;
    border: 1px solid #ddd;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.column:hover {
    transform: translateY(-10px);
    box-shadow: 0 6px 12px rgba(0, 0, 0, 0.2);
}

.column img {
    max-width: 100%;
    height: auto;
    transition: transform 0.3s ease;
}

.column img:hover {
    transform: scale(1.05);
}

.column h2 {
    margin-top: 10px;
    font-size: 1.5em;
    color: #555;
}

.column p {
    color: #666;
}

footer {
    background-color: #333;
    color: #fff;
    padding: 20px;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    text-align: center;
}

footer .footer-logo img {
    width: 100px;
}

footer .footer-info {
    flex: 1;
    margin: 0 20px;
}

footer .footer-info p {
    margin: 0;
    font-size: 0.9em;
    animation: fadeIn 1s ease-in-out;
}
